/*Í·²¿*/
.header{
  margin: .2rem;
  h1{
    font-size: .24rem;
    color: #4c4c4c;
    line-height: .4rem;
    margin: .67em 0;
  }
  .title1{
    font-size: .16rem;
    span{
      color: #e8628b;
    }
    .time{
      color: #a1a1a1;;
    }
  }
}

/*ÄÚÈÝ*/
.content-warp{
  border-top: .01rem solid #e1e1e1;
  border-bottom: .01rem solid #e1e1e1;
  padding: .2rem;
  .content{
    font-size: .18rem;
    line-height: 26px;
    color: #4c4c4c;
    p{
      margin: .18rem 0;
      font-family: Helvetica, MicrosoftYaHei, serif;
      font-size: .18rem;
    }
  }
  .external-link{
    height: .8rem;
    padding: .1rem .05rem .1rem .05rem;
    background-color: #f9f9f9;
    img{
      width: .6rem;
      height: .6rem;
    }
    .info{
      flex: 1 1 auto;
      margin: 0 .2rem;
      .title{
        color: #4c4c4c;
        font-size: .16rem;
      }
      .desc{
        color: #a1a1a1;
        font-size: .14rem;
      }
    }
    button{
      border: .01rem solid #e8628b;
      background-color: #fff;
      border-radius: 5px;
      color: #e8628b;
      font-size: .14rem;
      height: .4rem;
      line-height: .4rem;
      padding: 0 .08rem;
    }
  }
  .operation{
    margin: .45rem 0;
    .up{
      width: .56rem;
      height: .56rem;
      background: url("../images/up_1.png") no-repeat;
      background-size: 100%;

    }
    .comment{
      width: .56rem;
      height: .56rem;
      background: url("../images/comment_1.png") no-repeat;
      background-size: 100%;
    }
    .share{
      width: .56rem;
      height: .56rem;
      background: url("../images/share_1.png") no-repeat;
      background-size: 100%;
    }
  }
  img{
    width: 100%;
  }
  label{
    color: #4c4c4c;
    font-size: .16rem;
  }
}