.gift-detail {
  /*广告区域*/
  /*购买*/
  /*详情说明*/
  /*礼品介绍*/
  /*footer*/
}
.gift-detail .banner img {
  width: 100%;
  height: 3.51rem;
}
.gift-detail .buy {
  margin-top: .2rem;
  font-family: "宋体";
}
.gift-detail .buy p {
  height: .54rem;
  line-height: .54rem;
  font-size: .44rem;
  font-weight: bold;
}
.gift-detail .buy .price {
  height: .9rem;
  line-height: .9rem;
  margin-bottom: .15rem;
}
.gift-detail .buy .price span {
  font-size: .44rem;
  color: #FF2E19;
  padding-right: .1rem;
}
.gift-detail .buy .price em {
  font-size: .36rem;
  padding-right: .1rem;
  color: #FF2E19;
}
.gift-detail .buy .price del {
  font-size: .36rem;
  color: #A1A1A1;
}
.gift-detail .buy .price .express {
  font-size: .36rem;
  color: #A1A1A1;
}
.gift-detail .dis20 {
  height: .2rem;
  background: #F9F9F9;
}
.gift-detail .detail {
  height: .9rem;
  line-height: .9rem;
  font-size: .32rem;
  color: #E3E3E3;
  border-bottom: .01rem solid #E1E1E1;
  padding: 0 .2rem;
}
.gift-detail .detail span {
  border: .13rem solid transparent;
  border-left-color: #E3E3E3;
}
.gift-detail .introduce {
  padding-top: .25rem;
  padding-bottom: .18rem;
}
.gift-detail .introduce p {
  height: .45rem;
  line-height: .45rem;
  font-size: .32rem;
}
.gift-detail .introduce p:nth-last-of-type(1) {
  /*倒数第一个*/
  padding-bottom: .9rem;
}
.gift-detail .introduce img {
  width: 100%;
  height: 3.51rem;
}
.gift-detail footer {
  text-align: center;
  width: 100%;
  margin-bottom: .16rem;
}
.gift-detail footer a {
  height: .85rem;
  line-height: .85rem;
  background: #ED7097;
  width: 100%;
  font-size: .36rem;
  border-radius: 10px;
}
