.warp {
  width: 100%;
}
.warp .item {
  margin: .1rem;
  border: .02rem solid #eee;
  box-shadow: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.warp img {
  width: 100%;
}
.warp .title {
  text-align: center;
  font-size: .18rem;
  color: #4c4c4c;
  margin: .1rem;
}
.warp .link {
  text-align: center;
  margin: .1rem;
}
.warp .link button {
  width: 1.3rem;
  height: .5rem;
  display: inline-block;
  padding: 0 .02rem;
  background: #ed7097;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: .24rem;
}
.warp .separator hr {
  width: .2rem;
  background: #28a2d5;
  height: .02rem;
  border: 0;
}
.warp .summary {
  font-size: .24rem;
  color: #a1a1a1;
  margin: .01rem;
  line-height: .4rem;
}
