/*gift*/
.gift {
  padding-top: .21rem;
}
.gift div {
  height: .74rem;
  line-height: .74rem;
  font-size: .33rem;
  font-weight: bold;
  color: #4C4C4C;
}
.gift p {
  font-size: .32rem;
  line-height: .47rem;
  color: #4C4C4C;
}
.gift span {
  display: inline-block;
  font-size: .32rem;
  line-height: .47rem;
  color: #FF7979;
  padding-bottom: .47rem;
}
/*me表格*/
.me .header {
  height: .73rem;
  line-height: .73rem;
  text-align: center;
  background: #FFE6E6;
  font-size: .28rem;
  font-weight: bold;
}
.me table {
  font-size: .28rem;
  font-family: "宋体";
  color: #4C4C4C;
  width: 100%;
  border: .01rem solid #E1E1E1;
  border-collapse: collapse;
}
.me table tr {
  width: 100%;
}
.me table tr td {
  border: .01rem solid #E1E1E1;
  border-collapse: collapse;
  height: .71rem;
  line-height: .71rem;
  text-align: center;
  width: 33%;
}
.me table tr td.two {
  line-height: .35rem;
  padding: .1rem;
}
/*footer*/
footer {
  text-align: center;
  color: #C3C3C3;
  font-size: .2rem;
}
